---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormSuccess from "../components/FormSuccess.astro";
---

<Layout
    title="Solicitud enviada con éxito"
    description="Solicitud enviada con éxito."
>
    <Header />
    <main>
        <FormSuccess />
    </main>
    <Footer />
</Layout>
